@{
    ViewData["Title"] = "App to Server Relationship True Up";
}
<h2>App to Server Relationship True Up</h2>
@using Exciting_App.Controllers;
@Html.Raw(AppToServerComparison.RunTrueUp())



