@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <style>
        li {
            font-size: 20px
        }
    </style>
</head>
<h1>Closing</h1>
<big>
    <ul>
        <li>Exciting App has greatly improved my teams quality of data and saved us time debugging our integrations</li>
        <li>Now that Exciting Apps development is nearly complete I will be handing it off to be maintained by a member of my team</li>
        <li>If he so chooses he may continue to develop Exciting App and add features to it such as additional types of true ups</li>
        <li>Building Exciting App gave me great insights into how I can build an application to meet the needs of a group and improve an inefficient process</li>
    </ul>

</big>